* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px, 0px;
}


.bd-1 {
  font-family: 'Roboto Slab' serif;
  font-size:100%;
  background: #8fceff ;
}


.img-logo{
  margin: 8px;

}


.menu-1{
 font-family: 'Righteous', cursive;
 display: flex;
 gap: 40px;
}

.menu-item{
  color: black;
  font-size: 20px;
}


.conteudo{
  margin:4px;
  border-top: 0.6px solid #c2fbff;
  padding: 20px;
}

section .img-carr{
  margin:3px;
  max-widht: 200px;
  max-height:450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

 .p-1{
  font-family: 'Righteous', cursive;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 90px;
  border-top: 0.6px solid #c2fbff;
  padding: 20px;
  
}


section .p-m{
  font-family: 'Righteous', serif;
  justidy-content:float;
  letter-spacing: 1px;
  line-height: 1.7;
}



form-wrapper {
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  margin:4px;

}


section .t-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  letter-spacing: 1px;
  margin: 10px;
  border-top: 0.6px solid #c2fbff;
  padding: 20px;
}
  

form {
  margin: auto;
  width: 450px;
  background-color: white;
  padding: 30px 20px;
  border-radius: 5px;
}

.s-p{
  
}


form .select{
  margin-bottom:30px;
  background-color: white;
  flex-direction: column;
  border-radius: 25px;
  padding: 7px;
  border-color: #55ace2
  
}


form .input-block {
  margin-bottom: 30px;
}


form .input-block label {
  font-size: 17px;
  color: black;
}


form .input-block input {
  width: 100%;
  display: block;
  margin-top: 1px;
  padding: 7px;
  font-size: 16px;
  color: #000000;
  border-radius: 3px;
  border: 1px solid #66ccff;
  outline-color: #66ccff;
  
}





form {
  animation-name: relax; 
  animation-duration: 3s;
}



section .t-2{
  animation-name: relax; 
  animation-duration: 4s;
}


@keyframes relax {
  from {
    opacity:0;
    transform:scale(0.9)
  }
  to {
    opacity:1;  
    transform:scale(1)
  }
}


form{
  overflow: hidden;
} 

  form .input-block {
  animation-name: move; 
  animation-duration: 2s;
  animation-delay: 0.25s;
  }

.conteudo{
  animation-name: move; 
  animation-duration: 1.5s;
}


@keyframes move {
  from{
    opacity:0;
    transform:translatex(-35%);
    
  }
  to{
    opacity:1; 
    transform:translatex(0%);
  }
}


.ft-1{
  margin: 4px;
  border-top: 0.6px solid #c2fbff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 24px, 10px;
}
 .form-hide{
   
 }
@keyframes fade{
  
}

.waves-1{
  bottom:-20;
  left:20;
  right:10;
  position: relative;
}
.waves-2{
  bottom:0;
  left:0;
  right:0;
  position: absolute;
}